<head>

	<meta charset="utf-8">

	<title>Python - Django simple REST app 🐍 | Francesco Rizzi</title>
	<meta name="description" content="Python with Django experiment on creating a simple RESTful compliant web application.">

	<!-- Google Tag Manager --> {# TODO ENABLE GTM WHEN DEPLOY #}
	<!--<script>(function( w, d, s, l, i ){
		w[ l ] = w[ l ] || [];
		w[ l ].push({
						'gtm.start' : new Date().getTime(),
						event       : 'gtm.js'
					});
		var f   = d.getElementsByTagName(s)[ 0 ], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src   = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-T8CWQD6');</script>-->
	<!-- End Google Tag Manager -->

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block styles %}
		<link rel="stylesheet" href="static/contacts/style.css">
	{% endblock %}

	<!--OG--> {# TODO UPDATE AND ENABLE OG WHEN DEPLOY #}
	{#<meta property="og:title" content="Python - Django simple REST app 🐍 | Francesco Rizzi" />
	<meta property="og:description" content="Python with Django experiment on creating a simple RESTful compliant web application." />
	<meta property="og:image" content="https://frarizzi.science/experiments/python-django-simple-rest-app/static/basics/og.jpg" />
	<meta name="twitter:image" content="https://frarizzi.science/experiments/python-django-simple-rest-app/static/basics/og.jpg">
	<meta property="og:url" content="https://frarizzi.science/experiments/python-django-simple-rest-app/" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="frarizzi.science" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:alt" content="An image showing the Python - Django simple REST app logo">
	<meta name="twitter:site" content="@0xFFrancesco">#}

</head>