<!DOCTYPE html>
<html lang="EN">

	{% include 'head.jinja.html' %}

	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFQZGVW"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="container">

			{% block header %}

				<div class="header">
					<h1>Python - Django simple REST app 🐍</h1>
					<h2>Python with Django experiment on creating a simple RESTful compliant web application. <a href="https://github.com/Francesco-Rizzi/Python-Django-simple-REST-app" target="_blank" rel="me">GitHub</a></h2>
				</div>

			{% endblock %}

			{% include 'actions.jinja.html' %}

			<div class="main">

				{% block main %}
				{% endblock %}

			</div>

			{% block modal %}
			{% endblock %}

		</div>

		{% block script %}
			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" crossorigin="anonymous"></script>
			<script src="/python-simple-rest-app-static/contacts/app.js"></script>
		{% endblock %}

	</body>
</html>
